.img-slide {
    height: 600px !important;
    filter: brightness(40%);
}

.course-img {
    height: 250px !important;
}

@media screen and (max-width:767px) {
    .course-first-ch-div {
        display: flex;
        flex-direction: column;
    }

    .course-img {
        width: 100% !important;
    }

    .course-child-div {
        width: 100% !important;
        margin-top: 5% !important;
    }
}